body {
  background-image: url("background02.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
h2 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
mark {
    background-color: darkturquoise;
    color: white;
}
#water {
    display: flex;
    margin-top: 500px;
    margin-bottom: 100px;
    gap: 0px;
}
#water img {
    width: auto;
    max-height: 300px;
    aspect-ratio: auto;
}
#ocean-floor img {
    width: 1000px
}
#environment-output {
    margin-bottom: 50px;
    width:fit-content;
    background-color: aqua;
    padding: 20px;
    border-radius: 12px;
    font-family: sans-serif;
    color: red;
}
.button-link {
    color: black;
    text-decoration: none;
}
.right-side-up {
    transition: 0.5s; 
}
.upside-down {
    transform: rotate(180deg);
    transition: 0.5s; 
}